<div class="occlss-layout occlss-layout--gutter-l occ-header-alert">
    <div class="occlss-layout__col occlss-layout__col--12 occlss-layout__col--bleed">
        <strong>Oxfordshire History Centre digital resources</strong>
        <p>Digitised content and useful websites for local and family history research</p>
    </div>
</div>