<!-- index.nunjucks -->
{% extends "layout.njk" %}
{% from "macros/breadcrumbs.njk" import breadcrumbs %}

<!-- Page title -->
{% set pageTitle = 'Cookies' %}

{% block content %}

<main id="content">
  <!-- London bridge region -->
  <!--Breadcrumbs region -->

  {{ breadcrumbs({
    items: [
      {
        title: "Home",
        url: "/"
      },{
        title: "Cookies"
      }
    ]
  }) }}

  <!-- TOPTASKSPANEL -->
  <!-- CONTENT -->
  <div id="pagecontent">
    <div class="occlss-wrapper">

      <article data-history-node-id="1760" role="article" about="/residents/schools/apply-school-place/school-appeals"
        class="node node--type-standard-page node--view-mode-full occlss-wrapper occlss-wrapper--secondary">
        <!--START wrapper block-->
        <div class="occlss-layout occlss-layout--gutter-s">
          <!--START layout block-->
          <header class="occlss-layout__col occlss-layout__col--md-8">
            <!--START layout elemnt -->
            <!-- Page head -->
            <h1 class="occlss-g-heading-main occlss-u-bspace-sm">Cookies</h1>
            <p class="occlss-g-summary-text occlss-u-bspace-none">Information about this site and how to change your
              settings.</p>

            <div class="occlss-jump-links">
              <h2 class="occlss-jump-links__title">On this page</h2>
              <div class="views-row">
                <nav data-history-node-id="3812" role="article" about="/council/about-website/cookies"
                  class="node node--type-standard-page">
                  <ul class="occlss-jump-links__nav">

                    <li class="paragraph paragraph--type--text paragraph--view-mode--ptoc occlss-jump-links__nav-item">
                      <a href="#paragraph-3069" class="occlss-jump-links__lnk">What a cookie is</a>
                    </li>

                    <li class="paragraph paragraph--type--text paragraph--view-mode--ptoc occlss-jump-links__nav-item">
                      <a href="#paragraph-3348" class="occlss-jump-links__lnk">How we use cookies</a>
                    </li>

                    <li class="paragraph paragraph--type--text paragraph--view-mode--ptoc occlss-jump-links__nav-item">
                      <a href="#paragraph-3349" class="occlss-jump-links__lnk">Enabling or disabling cookies</a>
                    </li>

                    <li class="paragraph paragraph--type--text paragraph--view-mode--ptoc occlss-jump-links__nav-item">
                      <a href="#paragraph-3350" class="occlss-jump-links__lnk">Cookie settings</a>
                    </li>


                    <li class="paragraph paragraph--type--text paragraph--view-mode--ptoc occlss-jump-links__nav-item">
                      <a href="#paragraph-3071" class="occlss-jump-links__lnk">How to change cookie settings in the
                        browser</a>
                    </li>

                  </ul>
                </nav>
              </div>
            </div>


          </header>


          <div class="occlss-layout__col occlss-layout__col--md-8">


            <div id="paragraph-3069">

              <h2>What a cookie is</h2>

              <p>A cookie is a small file that a website saves to your computer, phone or tablet.<a
                  name="What-is-a-cookie" id="What-is-a-cookie"></a></p>

              <ul>
                <li>A cookie will typically contain the name of the website from which the cookie has come, the
                  'lifetime'&nbsp;of the cookie, and a value, usually a randomly generated unique number.</li>
                <li>We cannot identify you personally by using a cookie. Cookies store no personal data and are not used
                  to gather personal information.</li>
              </ul>

              <p><a name="How-does-Oxfordshire-County-Council-use-cookies"
                  id="How-does-Oxfordshire-County-Council-use-cookies"></a></p>


            </div>


            <div id="paragraph-3348">

              <h2>How&nbsp;we use cookies</h2>

              <ul>
                <li>To collect statistics about your use of our website, such as when you last visited the site. This
                  information is used to improve the user experience on our website.</li>
                <li>To help us&nbsp;embed useful maps and videos from Google Maps, YouTube and Vimeo.</li>
                <li>In order to deliver the best possible experience, the site needs to know if you have JavaScript
                  enabled. Instead of querying your browser each time a page loads, a cookie is set instead.</li>
              </ul>


            </div>


            <div id="paragraph-3349">

              <h2>Enabling or disabling cookies</h2>

              <ul>
                <li>We recommend that you allow all cookies set by this site as they help us provide you with a better
                  service.</li>
                <li>If you decide to delete or disable our cookies then you may not be able to access certain areas or
                  features of our website.</li>
                <li>Information about how to enable or disable cookies is available on the <a
                    href="http://www.aboutcookies.org/">about cookies</a> website.</li>
                <li>Cookies used by Oxfordshire County Council, do not infringe on your privacy or threaten your
                  computer's security.</li>
              </ul>


            </div>


            <div id="paragraph-3350">

              <h2>Changing cookie settings</h2>

              <p>We use three&nbsp;types of cookies. You can decide&nbsp;which ones you want us to use.</p>


            </div>



            <div id="occ-GDPR-form"
              data-ga-text="We use Google Analytics to collect information about how visitors use our site. This information is used for reporting purposes and to help us improve the customer experience on our site.<br> Analytics uses its own cookie to track visitor interactions. The cookie is used to store information, such as what time the current visit occurred, whether the visitor has been to the site before, and what site referred the visitor to the web page."
              data-smb-text="Save changes">
            </div>
            <script src="/assets/js/occ-GDPR-form.js"></script>


            <div id="paragraph-3071">

              <h2>How to change cookie settings in the browser</h2>

              <p>Most web browsers allow you to control cookies through your&nbsp;browser settings. To find out more <a
                  href="http://www.aboutcookies.org">about cookies</a>, including how to see what cookies have been
                set.<br>
                Find out how to manage cookies on popular browsers:</p>

              <ul>
                <li><a
                    href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&amp;hl=en">Google
                    Chrome</a></li>
                <li><a
                    href="https://support.microsoft.com/en-gb/help/4468242/microsoft-edge-browsing-data-and-privacy-microsoft-privacy">Microsoft
                    Edge</a></li>
                <li><a
                    href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">Mozilla
                    Firefox</a></li>
                <li><a
                    href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies">Microsoft
                    Internet Explorer</a></li>
                <li><a href="https://help.opera.com/en/latest/">Opera</a></li>
                <li><a href="https://support.apple.com/en-gb/safari">Apple Safari</a></li>
              </ul>

              <p>To find information relating to other browsers, visit the browser developer's website.&nbsp;</p>

              <p>You can&nbsp;<a href="https://tools.google.com/dlpage/gaoptout" rel="external">opt out of Google
                  Analytics cookies</a>.</p>


            </div>



          </div>
          <div class="occlss-layout__col occlss-layout__col--md-3 occlss-layout__col--offset-1-md">


            <div class="occlss-sidebar-item-section occlss-sidebar-item-section--residents" role="complementary">

            </div>


          </div>
          <!--End layout elemnt -->
        </div>
        <!--End layout block -->


      </article>


    </div>
  </div>




</main>

{% endblock %}